<app-navbar></app-navbar>
<header class="bg-light py-3">
    <div class="container ">
        <div class="text-center">
            <h1 class="mb-00">Buy & Sell with Confidence</h1>
            <p class="mb-0">The best place to buy and sell stocks</p>
        </div>
        <div class="bt">
            <a href="#" class="btn btn-lg btn-primary me-3">Buy Lots</a>
            <a href="#" id="fix_color" class="btn btn-lg btn-secondary">Sell Your Stock</a>
        </div>
    </div>
</header>
<section class="companies">
    <div class="trust">
        <p>They trust us <br><strong>to sell their unsold directly</strong></p>
    </div>
    <ul class="Company d-flex flex-wrap justify-content-center">
        <li >
            <picture class="pic"><img src="/assets/agriculture.png" alt="Client agriculture company" width="182" height="97" loading="lazy" sizes="(max-width: 182) 100vw, 182"></picture>
        </li>
        <li >
            <picture class="pic"><img src="/assets/oil-company.png" alt="Client oil and gas company" width="182" height="160" loading="lazy" sizes="(max-width: 182) 100vw, 182"></picture>
        </li>
        <li >
            <picture class="pic"><img src="/assets/real-state-company.jpg" alt="Client real" width="182" height="97" loading="lazy" sizes="(max-width: 182) 100vw, 182"></picture>
        </li>
        <li >
            <picture class="pic"><img src="/assets/trading-company.jpg" alt="Client Deccthl" width="180" height="180" loading="lazy" sizes="(max-width: 182) 100vw, 182"></picture>
        </li>
    </ul>
</section>

<section class="unimarché ">
    <h1>
        <span style="color: #008080; font-style: italic; ">UniMarket</span>, the professional marketplace
        <br>dedicated to <span style="color: rgb(41 105 255); ">destocking.</span> </h1><br>
    <br><img src="/assets/UniMarché-home.png " alt="UniMarché-home ">
    <div class="unimarché-text ">
        <p>Destocking, unsold items, the second life of products is what drives us every day. Our mission at UniMarket: give unsold products a second life.</p>

        <p>Thanks to our destocking sales marketplace, we are digitizing destocking market transactions.</p>

        <p>The sale of unsold items is often associated with wholesalers in destocking. We are modernizing this market and giving unsold items the value they deserve: to be an asset in their own right!</p>
    </div>

</section>

<div class="col-md-6 mx-auto text-center fh5co-heading" id="badge">
    <i><img src="/assets/Activities Domain/badge.jpg" alt="Badge"></i>
    <h2>Achievements</h2>
    <p>Far far away, behind the word mountains, far from the countries, <br>there live the blind texts. </p>
</div>

<section class="achievements ">
    <ul class="achievements-list ">
        <li class="achievement-item ">
            <p><span class="achievement-number ">+ 10,000</span><span class="achievement-text ">Qualified professional
          buyers</span></p>
        </li>
        <li class="achievement-item ">
            <p><span class="achievement-number ">+ 12,000</span><span class="achievement-text ">Successfully
          cleared and sold</span></p>
        </li>
        <li class="achievement-item ">
            <p><span class="achievement-number ">+ 680,000</span><span class="achievement-text ">Products
          have found a
          second life</span></p>
        </li>
    </ul>
</section>
<section class="services">
    <div class="row">
        <div class="col-md-6 mx-auto text-center fh5co-heading">
            <i><img src="/assets/Activities Domain/msg.png" alt="service"
          style="max-width: 100px;max-height:100px; position:center;"></i>
            <h2>Our Vendors</h2>
            <p>Far far away, behind the word mountains, far from the countries , <br>there live the blind texts. </p>
        </div>
    </div>
</section>
<section class="Activities_Domain">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-img-overlay"></div>
                <img class="card-img-top" src="/assets/Activities Domain/Agric-banner.jpg" alt="Card image cap" style="min-width: 720px;
        min-height: 400px;margin-left: -200px;">
            <div class="hover-img">
              <img src="../../assets/agriculture.png" style="max-width: 130px;max-height: 230px;"alt="Hover image">
            </div>
                <div class="card-body">
                    <h5 class="card-title">Land Agriculture</h5>
                    <p class="card-text">Welcome to our multi-domain sales platform. We offer a wide range of products from various industries, providing you with a convenient and diverse shopping experience. Explore our platform to find high-quality products and connect
                        with qualified sellers.
                    </p>
                </div>
            </div>

            <!-- Duplicate the card three more times -->
            <div class="card">
                <div class="card-img-overlay"></div>
                <img class="card-img-top" src="/assets/Activities Domain/trading.jpg" alt="Card image cap" style="min-width: 720px;
        min-height: 400px;margin-left: -200px;">
                    <div class="hover-img">
                      <img src="../../assets/real-state-company.jpg" style="max-width: 130px;max-height: 130px;"alt="Hover image">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">Anytime Property</h5>
                    <p class="card-text">Welcome to our multi-domain sales platform specializing in real estate. Discover a wide range of properties, including residential homes, commercial spaces, and investment opportunities. Our platform connects buyers, sellers, and agents,
                        providing comprehensive real estate solutions to meet your needs.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-img-overlay"></div>
                <img class="card-img-top" src="/assets/Activities Domain/Oil&Gas.jpg" alt="Card image cap" style="min-width: 720px;
        min-height: 400px;margin-left: -210px;">
                    <div class="hover-img">
                      <img src="../../assets/oil-company.png" style="max-width:150px; max-height:115px;"alt="Hover image">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">Oil Company</h5>
                    <p class="card-text">Welcome to our multi-domain sales platform specializing in the oil and gas industry. Explore a wide range of products and services, including exploration and production equipment, refining and processing technologies, and energy solutions.
                        Our platform connects industry professionals, suppliers, and buyers, providing a seamless marketplace for all your oil and gas needs.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-img-overlay"></div>
                <img class="card-img-top" src="/assets/Activities Domain/minning.jpg" alt="Card image cap" style="min-width: 720px;
        min-height: 400px;margin-left: -280px;">
                    <div class="hover-img">
                      <img src="../../assets/trading-company.jpg" style="max-width: 150px;max-height: 115px;"alt="Hover image">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">Dolor Sitamet</h5>
                    <p class="card-text">Discover our multi-domain sales platform designed for the mining industry. Explore a wide range of mining equipment, technologies, and services, including exploration tools, excavation machinery, and mineral processing solutions. Our
                        platform connects mining professionals, suppliers, and buyers, providing a comprehensive marketplace for all your mining needs. Whether you're involved in surface mining, underground operations, or mineral resource development,
                        our platform offers a seamless experience to meet your requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="artic">
  <div class="container">
      <h2 class="text-3xl mb-0">Browse by Domains</h2>
      <a href="/lots" target="_blank">
          <span>See all lots  </span>
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#2969FF"></path>
      </svg>
      </a>
  </div>
  <table class="table">
      <ul class="grid gap-x-6 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 ">
          <li class="sm:h-full ">
              <article>
                  <figure>
                      <picture class=" "><img src="../../assets/Categorie/agr2-preview.png"sizes="(max-width: 77) 100vw, 77 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/destockage-electromenager-1 " target="_blank ">Agricultural Products</a>
                  </h3>
              </article>
          </li>
          <li class="sm:h-full ">
              <article>
                  <figure>
                      <picture class=" "><img src="../../assets/Categorie/mining.png "  alt="Catégorie Bricolage " class="transition duration-150 ease-in w-full h-full object-contain opacity-100 loaded " width="77 " height="76 " loading="lazy
      " sizes="(max-width: 77) 100vw, 77 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/bricolage-3 " target="_blank ">Mining</a>
                  </h3>
              </article>
          </li>
          <li class="sm:h-full ">
              <article>
                  <figure>
                      <picture class=" "><img src="../../assets/Categorie/oil and gas 2.png" sizes="(max-width: 77) 100vw, 77 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/informatique-high-tech-2 " target="_blank ">Oil and Gas</a>
                  </h3>
              </article>
          </li>
          <li class="sm:h-full ">
              <article>
                  <figure class="w-[76px] h-[76px] mx-auto mb-2 ">
                      <picture class=" "><img src="../../assets/Categorie/waterE-preview.png" sizes="(max-width: 77) 100vw, 77 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/meuble-11 " target="_blank ">Water and electricity</a>
                  </h3>
              </article>
          </li>
          <li class="sm:h-full ">
              <article>
                  <figure>
                      <picture class=" "><img src="../../assets/Categorie/realstate-preview.png"   sizes="(max-width: 76) 100vw, 76 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/telephone-16 " target="_blank ">Real Estate</a>
                  </h3>
              </article>
          </li>
          <li class="sm:h-full ">
              <article>
                  <figure>
                      <picture class=" "><img src="../../assets/Categorie/trading.png"sizes="(max-width: 77) 100vw, 77 "></picture>
                  </figure>
                  <h3 class="mb-0 text-center "><a href="/lots/cat/destockage-vetement-4 " target="_blank ">General Tradings</a>
                  </h3>
              </article>
          </li>
      </ul>
  </table>
</section>
 <div class="spon" style="text-align: center;">
  <i><img src="/assets/Activities Domain/sponsor.png" alt="Badge" id="sponsor"></i>
  <h1>Our Sponsorship</h1>
  </div>
  <section class="brands">
    <ul class="image-grid">
        <div class="image-container">
            <li>
                <img src="http://www.actionpal.org.uk/en/images/posts/1526159197.jpg" alt="Image 1" id="padd">
            </li>
            <li>
                <img src="https://www.drupal.org/files/wfp-logo-emblem-blue.png" alt="Image 2" id="padd">
            </li>
            <li>
                <img src="https://www.itu.int/net4/wsis/ungis/Content/img/logos/uniform/unhabitat.png" alt="Image 3" id="padd">
            </li>
            <li>
                <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/280/2015/11/ICAO-logo_Web-MS-Office.png" alt="Image 4" id="padd">
            </li>
            <li>
                <img src="https://morningsideacupuncture.com.au/wp-content/uploads/2022/04/WHO-LOGO.png" alt="Image 5" id="padd">
            </li>
            <li>
                <img src="https://logoeps.com/wp-content/uploads/2012/12/undp-vector-logo.png" alt="Image 6" id="padd">
            </li>
            <li>
                <img src="https://inkbotdesign.com/wp-content/uploads/2020/01/united-nations-logo-design.jpg?ezimgfmt=rs:352x211/rscb15/ng:webp/ngcb15" alt="Image 7" id="padd">
            </li>
            <li>
                <img src="https://www.itu.int/net4/wsis/ungis/Content/img/logos/uniform/wmo.png" alt="Image 8" id="padd">
            </li>
            <li>
                <img src="https://hub.unido.org/sites/default/files/logos/unwto.png" alt="Image 9" id="padd">
            </li>
            <li>
                <img src="https://iconape.com/wp-content/png_logo_vector/fao-logo.png" alt="Image 10" id="padd">
            </li>
            <li>
                <img src="https://iphce.org/wp-content/uploads/2021/04/UNOPS-logo.png" alt="Image 11" id="padd">
            </li>
        </div>
        <div class="image-container second">
            <li>
                <img src="http://www.actionpal.org.uk/en/images/posts/1526159197.jpg" alt="Image 1" id="padd">
            </li>
            <li>
                <img src="https://www.drupal.org/files/wfp-logo-emblem-blue.png" alt="Image 2" id="padd">
            </li>
            <li>
                <img src="https://www.itu.int/net4/wsis/ungis/Content/img/logos/uniform/unhabitat.png" alt="Image 3" id="padd">
            </li>
            <li>
                <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/280/2015/11/ICAO-logo_Web-MS-Office.png" alt="Image 4" id="padd">
            </li>
            <li>
                <img src="https://morningsideacupuncture.com.au/wp-content/uploads/2022/04/WHO-LOGO.png" alt="Image 5" id="padd">
            </li>
            <li>
                <img src="https://logoeps.com/wp-content/uploads/2012/12/undp-vector-logo.png" alt="Image 6" id="padd">
            </li>
            <li>
                <img src="https://inkbotdesign.com/wp-content/uploads/2020/01/united-nations-logo-design.jpg?ezimgfmt=rs:352x211/rscb15/ng:webp/ngcb15" alt="Image 7" id="padd">
            </li>
            <li>
                <img src="https://www.itu.int/net4/wsis/ungis/Content/img/logos/uniform/wmo.png" alt="Image 8" id="padd">
            </li>
            <li>
                <img src="https://hub.unido.org/sites/default/files/logos/unwto.png" alt="Image 9" id="padd">
            </li>
            <li>
                <img src="https://iconape.com/wp-content/png_logo_vector/fao-logo.png" alt="Image 10" id="padd">
            </li>
            <li>
                <img src="https://iphce.org/wp-content/uploads/2021/04/UNOPS-logo.png" alt="Image 11" id="padd">
            </li>
        </div>
    </ul>
    <ul class="image-grid" id="second">
        <div class="image-container2">
            <li>
                <img src="https://images.ctfassets.net/na3uvakhy5ts/4MwwPrXr67c0N4301YM3ya/811449a82c15f2cf84656952876054fc/WIPO_Logo_E-Bold-Blue.png" alt="Image 1" id="padd">
            </li>
            <li>
                <img src="https://www.jobsinict.com/wp-content/uploads/2021/09/IAEA.jpg" alt="Image 2" id="padd">
            </li>
            <li>
                <img src="https://logos-world.net/wp-content/uploads/2020/11/UNICEF-Emblem.png" alt="Image 3" id="padd">
            </li>
            <li>
                <img src="https://i0.wp.com/www.un.org/youthenvoy/wp-content/uploads/2014/09/unesco-logo-260px.jpg?fit=260%2C173&amp;ssl=1" alt="Image 4" id="padd">
            </li>
            <li>
                <img src="https://www.icj-cij.org/public/files/images/logo-blue-white-bg.png" alt="Image 5" id="padd">
            </li>
            <li>
                <img src="https://gumlet.assettype.com/ficl%2F2021-09%2F546d147c-2f08-4bcd-b19b-b1271fe16b32%2FADB1_1.png?format=auto" alt="Image 6" id="padd">
            </li>
            <li>
                <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0010/1581/brand.gif?itok=OMrwJrhd" alt="Image 7" id="padd">
            </li>
            <li>
                <img src="https://i0.wp.com/ifadapex.com/wp-content/uploads/2020/04/ifad-logo.jpg?fit=302%2C124&amp;ssl=1" alt="Image 8" id="padd">
            </li>
            <li>
                <img src="https://hub.unido.org/sites/default/files/logos/wipo.png" alt="Image 9" id="padd">
            </li>
            <li>
                <img src="https://www.jobsinict.com/wp-content/uploads/2021/09/IAEA.jpg" alt="Image 10" id="padd">
            </li>
            <li>
                <img src="https://logos-world.net/wp-content/uploads/2020/11/UNICEF-Emblem.png" alt="Image 11" id="padd">
            </li>
        </div>
        <div class="image-container2 second">
            <li>
                <img src="https://images.ctfassets.net/na3uvakhy5ts/4MwwPrXr67c0N4301YM3ya/811449a82c15f2cf84656952876054fc/WIPO_Logo_E-Bold-Blue.png" alt="Image 1" id="padd">
            </li>
            <li>
                <img src="https://www.jobsinict.com/wp-content/uploads/2021/09/IAEA.jpg" alt="Image 2" id="padd">
            </li>
            <li>
                <img src="https://logos-world.net/wp-content/uploads/2020/11/UNICEF-Emblem.png" alt="Image 3" id="padd">
            </li>
            <li>
                <img src="https://i0.wp.com/www.un.org/youthenvoy/wp-content/uploads/2014/09/unesco-logo-260px.jpg?fit=260%2C173&amp;ssl=1" alt="Image 4" id="padd">
            </li>
            <li>
                <img src="https://www.icj-cij.org/public/files/images/logo-blue-white-bg.png" alt="Image 5" id="padd">
            </li>
            <li>
                <img src="https://gumlet.assettype.com/ficl%2F2021-09%2F546d147c-2f08-4bcd-b19b-b1271fe16b32%2FADB1_1.png?format=auto" alt="Image 6" id="padd">
            </li>
            <li>
                <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0010/1581/brand.gif?itok=OMrwJrhd" alt="Image 7" id="padd">
            </li>
            <li>
                <img src="https://i0.wp.com/ifadapex.com/wp-content/uploads/2020/04/ifad-logo.jpg?fit=302%2C124&amp;ssl=1" alt="Image 8" id="padd">
            </li>
            <li>
                <img src="https://hub.unido.org/sites/default/files/logos/wipo.png" alt="Image 9" id="padd">
            </li>
            <li>
                <img src="https://www.jobsinict.com/wp-content/uploads/2021/09/IAEA.jpg" alt="Image 10" id="padd">
            </li>
            <li>
                <img src="https://logos-world.net/wp-content/uploads/2020/11/UNICEF-Emblem.png" alt="Image 11" id="padd">
            </li>
        </div>
    </ul>
</section>


<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">

    </div>
  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>THE HEAD OFFICE</h4>
          <address>
                <ul class="list-unstyled">
                  <li><i class="fas fa-map-marker-alt"></i>Route ceinture, Sousse, Sehloul</li>
                  <li><i class="fas fa-phone"></i>+216-73000000</li>
                  <li><i class="far fa-envelope"></i>Unimarket&#64;gmail.com</li>
                </ul>

          </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>About us</h4>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">They talk about us</a></li>
            <li><a href="#" style="text-decoration: none;">Who are we ?</a></li>
            <li><a href="#" style="text-decoration: none;">Advice</a></li>
            <li><a href="#" style="text-decoration: none;">Recruitment</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Customers</h4>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">Start buying</a></li>
            <li><a href="#" style="text-decoration: none;">Tips for buying clearance</a></li>
            <li><a href="#" style="text-decoration: none;">Create an account</a></li>
            <li><a href="#" style="text-decoration: none;">Customer FAQs</a></li>
            <li><a href="#" style="text-decoration: none;">Assistance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Vendors</h4>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">Vendez vos surstock</a></li>
            <li><a href="#" style="text-decoration: none;">Tips for selling your unsold items</a></li>
            <li><a href="#" style="text-decoration: none;">Vendor FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <hr>
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <p id="fo">&copy; 2023-All rights reserved-Legal notices-GTC-Privacy policy-Cookies policy.</p>
              <div >
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-2x" style="margin-right: 5px;"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"style="margin-right: 5px;"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"style="margin-right: 5px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


