<app-navbar></app-navbar>
<div class="container">
  <section class="body" style="margin-top: -150px; margin-right: 150px;">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px; width: 746px; height: 748.4px;" id="register">
          <div class="fix" style="background-color: rgb(255 168 168 / 13%);">
            <h2 class="text-uppercase text-center mb-5" style="font-weight: 500; color:black;">Create your Vendor account</h2>
            <form style="max-width: 500px; margin: 0 auto;">

              <div class="form-group mb-4">
                <label for="email" class="form-label" style="color: rgba(0,0,0,.6);">Name</label>
                <input type="text" class="form-control" name="name">
              </div>

              <div class="form-group mb-4">
                <label for="pwd" class="form-label" style="color: rgba(0,0,0,.6);">Email</label>
                <input type="email" class="form-control" name="email">
              </div>

              <div class="form-group mb-4">
                <label for="contact" class="form-label" style="color: rgba(0,0,0,.6);">Contact</label>
                <input type="text" class="form-control" name="contact">
              </div>

              <div class="form-group mb-4">
                <label for="pwd" class="form-label" style="color: rgba(0,0,0,.6);">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group mb-4">
                <label for="pwd" class="form-label" style="color: rgba(0,0,0,.6);">Upload Files</label>
                <input type="file" class="form-control" name="password">
              </div>

              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">
                  I agree all statements in <a href="#!" class="text-body" style="text-decoration: none !important;"><u>Terms of service</u></a>
                </label>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark btn-block btn-lg text-white" style="width: 500px;">Register</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0" style="color: #6c757d; font-size: medium;">Have already an account? <a href="/login" class="fw-bold text-body">Login here</a></p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
