<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">

    </div>
  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>THE HEAD OFFICE</h4>
          <address>
                <ul class="list-unstyled">
                  <li><i class="fas fa-map-marker-alt"></i>Route ceinture, Sousse, Sehloul</li>
                  <li><i class="fas fa-phone"></i>+216-73000000</li>
                  <li><i class="far fa-envelope"></i>Unimarket@gmail.com</li>
                </ul>
          </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>About us</h4>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">They talk about us</a></li>
            <li><a href="#" style="text-decoration: none;">Who are we ?</a></li>
            <li><a href="#" style="text-decoration: none;">Advice</a></li>
            <li><a href="#" style="text-decoration: none;">Recruitment</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Customers</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="no-underline" style="text-decoration: none;">Start buying</a></li>
            <li><a href="#" class="no-underline" style="text-decoration: none;">Tips for buying clearance</a></li>
            <li><a href="#" class="no-underline" style="text-decoration: none;">Create an account</a></li>
            <li><a href="#" class="no-underline" style="text-decoration: none;">Customer FAQs</a></li>
            <li><a href="#" class="no-underline" style="text-decoration: none;">Assistance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Vendors</h4>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">Vendez vos surstock</a></li>
            <li><a href="#" style="text-decoration: none;">Tips for selling your unsold items</a></li>
            <li><a href="#" style="text-decoration: none;">Vendor FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <hr>
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <p id="fo">&copy; 2023-All rights reserved-Legal notices-GTC-Privacy policy-Cookies policy.</p>
              <div >
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-2x" style="margin-right: 5px;"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"style="margin-right: 5px;"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"style="margin-right: 5px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


