ul.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes */
  grid-gap: 1rem; /* Espacement entre les éléments */
}

@media (max-width: 640px) {
  ul.grid {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les petits écrans */
  }
}

.fas {
  width: 20px;

  color: white;
}
.far {
  width: 20px;

  color: white;
}

.footer{
  color: white;


}



.list-unstyled li{
  color: white;
  text-align: left;
  padding: 9px;
  margin-left: -10px;
}
#fo{
  text-align: start;
  color: rgb(192, 192, 192);
  margin-top: 20px;
  font-size: 15px;
}
footer a{
  color: #f7fbfb;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #0c1736;
  padding: 2em;
}
.footer-top{
  background:   #0c1736;
}
.footer-middle{
   background:    #0c1736;
  padding-top: 4.5em;

  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}
