<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/Unimarché_logo.png" alt="UniMarket" width="60" height="30" class="d-inline-block align-top">
      UniMarket
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="#">Lots for sale</a></li>
            <li><a class="dropdown-item" href="/register">Create my account</a></li>
            <li><a class="dropdown-item" href="#">Buyer FAQs</a></li>
            <li><a class="dropdown-item" href="#">Buyers advice</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vendors
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="/register-f">Create my account</a></li>
            <li><a class="dropdown-item" href="/contact">Vendors FAQ</a></li>
            <li><a class="dropdown-item" href="/contact">Vendors advice</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li><a class="dropdown-item" href="">Agriculture</a></li>
            <li><a class="dropdown-item" href="">Real Estate</a></li>
            <li><a class="dropdown-item" href="">Oil & Gas</a></li>
            <li><a class="dropdown-item" href="">Mining</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <li><a class="dropdown-item" href="/contact">About us</a></li>
            <li><a class="dropdown-item" href="">Our mission</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Support</a>
        </li>
      </ul>
      <div class="d-flex">
        <a type="button" class="btn btn-success me-2 btn-lg"  href="/register">Sign up</a>
        <a type="button" class="btn btn-dark btn-lg"  href="/login">Sign in</a>
      </div>
    </div>
  </div>
</nav>

